body {
    background-color: rgb(44, 42, 42);
    color: rgb(180, 170, 170);
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 1.5rem;
    text-decoration: none;
    font-weight: bolder;
    color: rgb(194, 185, 185);
    margin: 0 5rem;
}

nav a:hover,
nav a:focus {
    color: rgb(153, 116, 116);
}

.wrapper {
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about {
    width: 16rem;
    font-weight: 600;
    line-height: 2rem;
    color: rgb(180, 170, 170);
}

.span {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(212, 124, 19);
}

.tags {
    color: rgb(212, 124, 19);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid rgb(212, 124, 19);
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.line {
    background-color: rgb(212, 124, 19);
    width: 3px;
    height: 90px;
    border-radius: 6px;
    margin-left: 3rem;
}

.tags:hover {
    background-color: rgb(15, 15, 14);
}

.socials {
    display: flex;
    flex-direction: column;
    margin-left: 2.6rem;
    margin-top: 1.2rem;
}

.linkedin {
    margin-top: 0.3rem;
}


.linkedin i,
.github i,
.whatsapp i,
.twitter i {
    color: rgb(194, 185, 185);
}

.image {
    width: 20%;
    height: auto;
}

.About_Wrapper {
    color: white;
    margin-left: 11.5rem;
    width: 76%;
}


.about_description {
    display: flex;
    color: rgb(180, 170, 170);
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.about_Line {
    background-color: rgb(212, 124, 19);
    height: 0.1rem;
    border-radius: 0.9rem;
    margin-top: 1.3rem;
    margin-right: 0.7rem;
    flex: 0.1 .9
}

.About_para {
    flex: 2;
    line-height: 2rem;
    font-size: 1.4rem;
}

.color {
    color: rgb(212, 124, 19);
}

.skill_heading {
    text-align: center;
    margin-top: 5rem;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: rgb(67 56 56);
    border-radius: 0.5rem;
    margin: 1rem;
}

.card_Container:hover {
    background-color: rgb(180, 120, 42);
}

.log {
    width: 55px;
}


.Card_Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}


/* project */

.card_Container_Projcts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 221px;
    height: 210px;
    background-color: rgb(67 56 56);
    border-radius: 0.5rem;
    margin: 1rem;
}

.card_Container_Projcts:hover {
    background-color: rgb(180, 120, 42);
}

.log_Projects {
    width: 145px;
    height: 83px;
}


.Card_Wrapper_Projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.projects {
    text-align: center;
}

.project_tags {
    color: rgb(61, 105, 172);
}


/* Mobile  Querry */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .header {
        margin-right: 4rem;
    }

    .image {
        display: none;
    }

    .wrapper {
        margin-left: 0.7rem;
    }

    .about_heading {
        margin-left: -7rem;
        font-weight: bold;
    }

    .about_description {
        margin-left: -7rem;
        width: 19rem;
    }


    .linkedin i,
    .github i,
    .whatsapp i,
    .twitter i {
        margin-top: 0.5rem;
    }

    .Card_Wrapper {
        margin-right: -5rem;
    }

    .skill_heading {
        margin-right: -5rem;
    }

    .projects {
        margin-right: -5rem;
    }

    .Card_Wrapper_Projects {
        margin-right: -5rem;
        margin-bottom: 0rem;
    }
}


/* tablet  querry */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .wrapper{
        margin-left: -7.3rem;
    }

    .about_heading {
        margin-left: -8rem
    }

    .about_description {
        margin-left: -8rem;
        width: 33rem;
    }


}